.container {
  height: 80vh;
  margin: 0 auto;
  position: relative;
}
.hero_image {
  height: 100%;
  width: 100%;
}
.hero_description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero_description h1 {
  margin: 15px;
}
.hero_description p {
  padding: 10px;
}
