.container {
	padding: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	height: 100%;
	margin-bottom: 15px;
}
.loader_container {
	min-height: 150px;
	position: relative;
	width: 100%;
}
.profile_container {
	display: flex;
	align-items: center;
}
.setting {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 21px;
	cursor: pointer;
}
.profile_info_container {
	padding-left: 15px;
}
.profile_info_container p {
	padding: 5px 0;
}
.user_name {
	font-size: 19px;
}
.change_password_container {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.avatar_container_mobile {
	display: none;
}
.info {
	display: flex;
	align-items: center;
	margin-left: 5px;
	gap: 5px;
	font-weight: 500;
	cursor: pointer;
	color: var(--primary-color);
}
.expenses_info {
	padding: 5px 15px;
}
.expenses_info h3 {
	padding: 5px 0;
}
.expenses p {
	padding: 5px 0;
}
@media (max-width: 991px) {
	/* CSS rules for screens between 577px and 992px wide (e.g., tablets) */
	.setting {
		visibility: hidden;
	}
}

/* Smartphone */
@media (max-width: 576px) {
	.container {
		width: 100%;
	}
	.avatar_container_desktop {
		display: none;
	}
	.avatar_container_mobile {
		display: block;
	}
	.profile_container {
		display: block;
	}
	.profile_info_container {
		padding-left: 0px;
	}
}
