.container {
	padding: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	height: 100%;
	margin-bottom: 15px;
}
.profile_container {
	display: flex;
	align-items: center;
}
.profile_info_container {
	padding-left: 15px;
}
.profile_info_container p {
	padding: 5px 0;
}
.user_name {
	font-size: 19px;
}
/* Smartphone */
@media (max-width: 576px) {
	.container {
		width: 100%;
	}
}
