.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
}
.pricing_header {
	text-align: center;
	padding: 20px;
}
.pricing_card_container {
	background-color: var(--secondary-color);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	max-width: 350px;
	margin: 20px auto;
	padding: 15px;
}
.card_header {
	text-align: center;
	padding: 10px;
	font-size: 18px;
}
.price_tag {
	text-align: center;
	font-weight: bold;
}
.price {
	font-size: 18px;
}
.card_points {
	margin-top: 20px;
	font-size: 17px;
}
.card_points p {
	padding: 5px 0;
}
/* Smartphone */
@media (max-width: 576px) {
	.container {
		width: 90%;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	/* CSS rules for screens wider than 1200px (e.g., large desktops) */
	.container {
		width: 1000px;
	}
}
