.container {
  background-color: rgb(222, 205, 205);
  position: sticky;
  top: 0;
  z-index: 99;
}
.header_container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.logo_text {
  font-size: 2rem;
}
.login_container {
  display: flex;
  gap: 10px;
}
.login_button {
  color: var(--primary-text-color);
  font-weight: bold;
}
