.container {
	width: 70%;
	min-height: 80vh;
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login_heading {
	text-align: center;
	padding: 15px;
}
.form_container {
	width: 80%;
	margin: 0 auto;
}
.input_container {
	padding: 5px 0;
}

.contact_link {
	cursor: pointer;
	color: var(--primary-color);
	font-size: larger;
	font-weight: 500;
}
.register_btn {
	display: block;
	margin: 10px auto;
	background-color: var(--brand-color);
}
.input_container p {
	margin-bottom: 5px;
}
/* Smartphone */
@media (max-width: 768px) {
	.form_container {
		width: 100%;
		margin: 0 auto;
	}
	.image_container {
		display: none;
	}
	.container {
		width: 70%;
		min-height: 70vh;
		justify-content: center;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	/* CSS rules for screens wider than 1200px (e.g., large desktops) */
	.container {
		width: 1000px;
	}
}
