.container {
	width: 70%;
	min-height: 80vh;
	margin: 20px auto;
	display: flex;
	align-items: center;
}
.login_heading {
	text-align: center;
	padding: 15px;
}
.form_container {
	width: 80%;
	margin: 0 auto;
}
.input_container {
	padding: 5px 0;
}
.input_container p {
	padding: 5px 0;
}
.login_btn {
	text-align: center;
	margin: 5px auto;
}
.contact_link {
	cursor: pointer;
	color: var(--primary-color);
	font-size: larger;
	font-weight: 500;
}
/* Smartphone */
@media (max-width: 576px) {
	.container {
		width: 90%;
	}
	.register_img_container {
		display: none;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	/* CSS rules for screens wider than 1200px (e.g., large desktops) */
	.container {
		width: 1000px;
	}
}
